.icon {
    background-image: url("../images/icons.600x0.png");
    background-repeat: no-repeat;
    height: 52px;
    width: 52px;
}

.icon_refresh {
    background-image: url("ajax-refresh-icon.gif");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.footer {
}

.icon.add {
    background-position: -128px -66px;
}

.icon.del {
    background-position: -188px -66px;
}

.hidden {
    display: none !important;
}

.sorting_disabled {
    background: url("");
}

.delete_icon {
    background: url("images/ui-icons_222222_256x240.png");
    background-position: -80px -128px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.edit_icon {
    background: url("images/ui-icons_222222_256x240.png");
    background-position: -66px -112px;
    width: 16px;
    height: 16px;
    display: inline-block; 
}

.commit_icon {
    background: url("images/ui-icons_222222_256x240.png");
    background-position: -66px -144px;
    width: 16px;
    height: 16px;
    display: inline-block; 
}





/* pager wrapper, div */
.tablesorter-pager {
  padding: 5px;
}
/* pager wrapper, in thead/tfoot */
td.tablesorter-pager {
  background-color: #e6eeee;
  margin: 0; /* needed for bootstrap .pager gets a 18px bottom margin */
}
/* pager navigation arrows */
.tablesorter-pager img {
  vertical-align: middle;
  margin-right: 2px;
  cursor: pointer;
}

/* pager output text */
.tablesorter-pager .pagedisplay {
  padding: 0 5px 0 5px;
  width: 50px;
  text-align: center;
}

/* pager element reset (needed for bootstrap) */
.tablesorter-pager select {
  margin: 0;
  padding: 0;
}

/*** css used when "updateArrows" option is true ***/
/* the pager itself gets a disabled class when the number of rows is less than the size */
.tablesorter-pager.disabled {
  display: none;
}
/* hide or fade out pager arrows when the first or last row is visible */
.tablesorter-pager .disabled {
  /* visibility: hidden */
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}



.tablesorter(
    { 0 : {width : '20px'}}
)